.testimonials .container{
    background-image: url(../../../images/quote-icon.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 20%;
}
.testimonials .card{
    border-color: transparent;
}

.testimonials .card .card-footer{
    background: transparent;
    border: 0;
}